<div th:fragment="answerListFragment">

    <div>
        <span>댓글 총 </span>
        <span id="answer_count" th:text="${#lists.size(question.answerList)}"></span>
        <span>개</span>

        <button th:attr="onclick=|_sort('new', '${question.id}', '${answerPaging.number + 1}')|" class="btn btn-sm btn-outline border-gray-300 gap-1"
                th:classappend="${sort} == 'new' ? 'btn-active btn-neutral' : ''">
            최신순
        </button>

        <button th:attr="onclick=|_sort('old', '${question.id}', '${answerPaging.number + 1}')|" class="btn btn-sm btn-outline border-gray-300 gap-1"
                th:classappend="${sort} == 'old' ? 'btn-active btn-neutral' : ''">
            과거순
        </button>

        <button th:attr="onclick=|_sort('liked', '${question.id}', '${answerPaging.number + 1}')|" class="btn btn-sm btn-outline border-gray-300 gap-1"
                th:classappend="${sort} == 'liked' ? 'btn-active btn-neutral' : ''">
            추천순
        </button>
    </div>

    <!-- 댓글 리스트 -->
    <a id="answer_start"></a>
    <div th:if="${#lists.size(answerPaging) > 0}" th:each="answer : ${answerPaging}" th:id="|answer${answer.id}|">
        <span th:text="${answer.author.nickName}"></span>
        <span th:utext="${@sbbUtil.markdown(answer.content)}"></span>
        <span th:text="${#temporals.format(answer.createDate, 'yy.MM.dd HH:mm')}"></span>

        <!-- 댓글 수정 -->
        <a sec:authorize="isAuthenticated()" th:href="@{|/answer/modify/${answer.id}|}"
           th:if="${answer.author != null and answer.author.loginId == #authentication.getPrincipal().getUsername()}"
           class="btn btn-sm btn-outline border-gray-300 gap-1">
            <i class="fa-solid fa-eraser"></i>
        </a>

        <!-- 댓글 삭제 -->
        <button sec:authorize="isAuthenticated()" th:attr="onclick=|_delete('answer', '${answer.id}')|"
                th:if="${answer.author != null and answer.author.loginId == #authentication.getPrincipal().getUsername()}"
                class="btn btn-sm btn-outline border-gray-300 gap-1">
            <i class="fa-solid fa-trash"></i>
        </button>

        <!-- 댓글 좋아요 -->
        <button sec:authorize="isAuthenticated()" th:attr="onclick=|_like('answer', '${answer.id}')|"
                class="btn btn-sm btn-outline border-gray-300 gap-1" th:id="@{|answer${answer.id}_liked|}"
                th:classappend="${#sets.contains(answer.likedMember, @sbbUtil.nameToMember(#authentication.getPrincipal().getUsername()))} ? 'btn-active btn-neutral' : ''">
            <i class="fa-solid fa-heart"></i>
            <span th:text="${answer.liked}"></span>
        </button>

        <button sec:authorize="isAnonymous()" class="btn btn-sm btn-outline border-gray-300 gap-1" disabled="disabled">
            <i class="fa-solid fa-heart"></i>
            <span th:text="${answer.liked}"></span>
        </button>

        <!-- 댓글 작성 버튼 -->
        <button sec:authorize="isAuthenticated()" th:attr="onclick=|_form_open('${answer.id}')|"
                class="btn btn-sm btn-outline border-gray-300 gap-1">
            <span th:text="댓글"></span>
        </button>

        <!-- 댓글 작성 폼 -->
        <form th:id="@{|answer${answer.id}_form|}" class="hidden">
            <textarea name="content" placeholder="내용을 입력하세요"></textarea>
            <button type="button" class="btn btn-sm btn-outline border-gray-300 gap-1"
                    th:attr="onclick=|_form_close('${answer.id}')|">취소</button>
            <button type="button" class="btn btn-sm btn-outline border-gray-300 gap-1"
                    th:attr="onclick=|_answer_create('${question.id}', '${answer.id}')|">댓글등록</button>
        </form>

        <!-- 대댓글 목록 -->
        <div th:replace="~{answer/fragment/reply_list :: answerReplyListFragment}"></div>

    </div>
    <a id="answer_last"></a>

    <!-- 답변 페이징 -->
    <div class="join" th:if="${!answerPaging.isEmpty()}">
        <button class="join-item btn btn-sm"
                th:classappend="${answerPaging.number != 0} ? '' : 'btn-disabled'"
                th:attr="onclick=|_answer_page('${question.id}', '1', '${sort}')|">«</button>
        <button class="join-item btn btn-sm" th:each="page : ${#numbers.sequence(0, answerPaging.totalPages - 1)}"
                th:if="${page >= answerPaging.number - 2 and page <= answerPaging.number + 2 and answerPaging.number > 1 and answerPaging.number < answerPaging.totalPages - 2}"
                th:classappend="${page == answerPaging.number} ? 'btn-neutral' : ''"
                th:attr="onclick=|_answer_page('${question.id}', '${page + 1}', '${sort}')|" th:text="${page + 1}"></button>
        <button class="join-item btn btn-sm" th:each="page : ${#numbers.sequence(0, answerPaging.totalPages - 1)}"
                th:if="${(answerPaging.number <= 1 and page <= 4) or (answerPaging.number >= answerPaging.totalPages - 2 and page >= answerPaging.totalPages - 5)}"
                th:classappend="${page == answerPaging.number} ? 'btn-neutral' : ''"
                th:attr="onclick=|_answer_page('${question.id}', '${page + 1}', '${sort}')|" th:text="${page + 1}"></button>
        <button class="join-item btn btn-sm"
                th:classappend="${answerPaging.number != answerPaging.totalPages - 1} ? '' : 'btn-disabled'"
                th:attr="onclick=|_answer_page('${question.id}', '${answerPaging.totalPages}', '${sort}')|">»</button>
    </div>
</div>