<div th:fragment="answerListFragment">
    <!-- 답변 리스트 -->
    <a id="answer_start"></a>
    <div th:if="${#lists.size(answerPaging) > 0}" th:each="answer : ${answerPaging}" th:id="|answer_${answer.id}|">
        <span th:text="${answer.content}"></span>
        <span th:text="${#temporals.format(answer.createDate, 'yy.MM.dd HH:mm')}"></span>
    </div>
    <a id="answer_last"></a>

    <div th:text="${answerPaging.totalPages}"></div>

    <!-- 답변 페이징 -->
    <div class="join" th:if="${!answerPaging.isEmpty()}">
        <button class="join-item btn btn-sm"
                th:classappend="${answerPaging.number != 0} ? '' : 'btn-disabled'"
                th:attr="onclick=|_answer_page('${question.id}', '1')|">«</button>
        <button class="join-item btn btn-sm" th:each="page : ${#numbers.sequence(0, answerPaging.totalPages - 1)}"
                th:if="${page >= answerPaging.number - 2 and page <= answerPaging.number + 2 and answerPaging.number > 1 and answerPaging.number < answerPaging.totalPages - 2}"
                th:classappend="${page == answerPaging.number} ? 'btn-neutral' : ''"
                th:attr="onclick=|_answer_page('${question.id}', '${page + 1}')|" th:text="${page + 1}"></button>
        <button class="join-item btn btn-sm" th:each="page : ${#numbers.sequence(0, answerPaging.totalPages - 1)}"
                th:if="${(answerPaging.number <= 1 and page <= 4) or (answerPaging.number >= answerPaging.totalPages - 2 and page >= answerPaging.totalPages - 5)}"
                th:classappend="${page == answerPaging.number} ? 'btn-neutral' : ''"
                th:attr="onclick=|_answer_page('${question.id}', '${page + 1}')|" th:text="${page + 1}"></button>
        <button class="join-item btn btn-sm"
                th:classappend="${answerPaging.number != answerPaging.totalPages - 1} ? '' : 'btn-disabled'"
                th:attr="onclick=|_answer_page('${question.id}', '${answerPaging.totalPages}')|">»</button>
    </div>
</div>