<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.0.3/dist/full.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/simplemde.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <th:block layout:fragment="simplemde"></th:block>

  <title>SBB_Remind</title>
</head>
<body>
<div th:replace="~{/layout/fragment/navbar :: navbarFragment}"></div>
<!-- 기본 템플릿 안에 삽입될 내용 start -->
<th:block layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 end -->
<!-- 자바스크립트 start -->
<th:block layout:fragment="script"></th:block>
<!-- 자바스크립트 end -->

<script th:src="@{/js/sbb_remind.js}"></script>
</body>
</html>