<html layout:decorate="~{/layout/layout}">
<div layout:fragment="content">
    <!-- 구현 Start -->
    <h1 th:text="${question.title}"></h1>
    <div th:text="${#temporals.format(question.createDate, 'yy.MM.dd HH:mm')}"></div>
    <div th:text="${question.content}"></div>

    <!-- 답변 목록 -->
    <div th:replace="~{answer/fragment/list :: answerListFragment}"></div>

    <!-- 답변 폼 -->
    <div th:replace="~{answer/fragment/form :: answerFormFragment}"></div>
    <!-- 구현 End -->
</div>
<!-- 스크립트 영역 Start -->
<script layout:fragment="script" th:src="@{/js/question/detail.js}"></script>
<!-- 스크립트 영역 End -->
</html>