<html layout:decorate="~{/layout/w_navbar}">
<div layout:fragment="content">
    <!-- 구현 Start -->
    <h1 th:text="${question.title}"></h1>
    <div th:text="${#temporals.format(question.createDate, 'yy.MM.dd HH:mm')}"></div>
    <div th:text="${question.content}"></div>

    <!-- 질문 수정 -->
    <a sec:authorize="isAuthenticated()" th:href="@{|/question/modify/${question.id}|}"
       th:if="${question.author != null and question.author.loginId == #authentication.getPrincipal().getUsername()}"
       class="btn btn-sm btn-outline border-gray-300 gap-1">
        <i class="fa-solid fa-eraser"></i>
        <span>수정</span>
    </a>

    <!-- 답변 목록 -->
    <div th:replace="~{answer/fragment/list :: answerListFragment}"></div>

    <!-- 답변 폼 -->
    <form th:object="${answerForm}" method="post" id="answerForm">
        <textarea th:field="*{content}" cols="30" rows="10" placeholder="내용을 입력하세요"></textarea>
        <input type="hidden" th:field="*{questionId}">
    </form>
    <button class="btn btn-sm btn-outline border-gray-300 gap-1"
            th:attr="onclick=|_answer_create('${question.id}')|">답변등록</button>

    <!-- 구현 End -->
</div>
<!-- 스크립트 영역 Start -->
<script layout:fragment="script" th:src="@{/js/question/detail.js}"></script>
<!-- 스크립트 영역 End -->
</html>