<html layout:decorate="~{/layout/w_navbar}">
<div layout:fragment="content">
    <!-- 구현 Start -->

    <button th:attr="onclick=|_sort('new')|" class="btn btn-sm btn-outline border-gray-300 gap-1"
            th:classappend="${sort} == 'new' ? 'btn-active btn-neutral' : ''">
        최신순
    </button>

    <button th:attr="onclick=|_sort('old')|" class="btn btn-sm btn-outline border-gray-300 gap-1"
            th:classappend="${sort} == 'old' ? 'btn-active btn-neutral' : ''">
        과거순
    </button>

    <button th:attr="onclick=|_sort('liked')|" class="btn btn-sm btn-outline border-gray-300 gap-1"
            th:classappend="${sort} == 'liked' ? 'btn-active btn-neutral' : ''">
        추천순
    </button>

    <!-- 질문 리스트 -->
    <table class="w-full text-center">
        <thead>
        <tr>
            <th>번호</th>
            <th>분류</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성시간</th>
            <th>조회수</th>
            <th>좋아요</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question, loop : ${questionPaging}">
            <td th:text="${questionPaging.getTotalElements - (questionPaging.number * questionPaging.size) - loop.index}" class="no"></td>
            <td th:text="${question.getCategory()}"></td>
            <td class="cursor-pointer hover:text-white hover:bg-[#2b3440]" th:text="${question.title}"
                th:attr="onclick=|_question_detail('${question.id}')|"></td>
            <td th:text="${question.author.nickName}"></td>
            <td th:text="${#temporals.format(question.createDate, 'yy.MM.dd')}"></td>
            <td th:text="${question.hit}"></td>
            <td th:text="${question.liked}"></td>
        </tr>
        </tbody>
    </table>

    <!-- 질문 페이징 -->
    <div class="join" th:if="${!questionPaging.isEmpty()}">
        <button class="join-item btn btn-sm"
                th:classappend="${questionPaging.number != 0} ? '' : 'btn-disabled'"
                th:attr="onclick=|_question_page(1)|">«</button>
        <button class="join-item btn btn-sm" th:each="page : ${#numbers.sequence(0, questionPaging.totalPages - 1)}"
                th:if="${page >= questionPaging.number - 2 and page <= questionPaging.number + 2 and questionPaging.number > 1 and questionPaging.number < questionPaging.totalPages - 2}"
                th:classappend="${page == questionPaging.number} ? 'btn-neutral' : ''"
                th:attr="onclick=|_question_page('${page + 1}')|" th:text="${page + 1}"></button>
        <button class="join-item btn btn-sm" th:each="page : ${#numbers.sequence(0, questionPaging.totalPages - 1)}"
                th:if="${(questionPaging.number <= 1 and page <= 4) or (questionPaging.number >= questionPaging.totalPages - 2 and page >= questionPaging.totalPages - 5)}"
                th:classappend="${page == questionPaging.number} ? 'btn-neutral' : ''"
                th:attr="onclick=|_question_page('${page + 1}')|" th:text="${page + 1}"></button>
        <button class="join-item btn btn-sm"
                th:classappend="${questionPaging.number != questionPaging.totalPages - 1} ? '' : 'btn-disabled'"
                th:attr="onclick=|_question_page('${questionPaging.totalPages}')|">»</button>
    </div>


    <button class="btn btn-sm" onclick="location.href='/question/create'">질문등록</button>

    <input type="hidden" th:value="${kw}" id="searchedKw">
    <!-- 구현 End -->
</div>
<!-- 스크립트 영역 Start -->
<script layout:fragment="script" th:src="@{/js/question/list.js}"></script>
<!-- 스크립트 영역 End -->
</html>